@{
    ViewBag.Title = "Index";
}

<div class="view-position">
    <p><h1>@Wiki.Ressources.Home.Views.WelcomeMesg</h1></p>
    <h2>@Wiki.Ressources.Home.Views.Article</h2>
    @using (Html.BeginForm("Display", "Home", FormMethod.Get)) {

        <p> @Html.TextBox("Titre", "", new {maxlength=50, size=20, @class = "form-control" })</p>


        <p class="input-button"><input name="Consulter" type="submit" value=@Wiki.Ressources.Home.Views.ConsultArticle class="btn btn-info" /></p>
    }
</div>